[user]
  name = Jack C Hong
  email = jhong@nicta.com.au

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[alias]
  s    = status
  c    = commit
  co   = checkout
  root = !pwd
  flog = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  slog = log --pretty=oneline
  rlog = log --graph --stat
  pull = pull --rebase
